
h1 {
	text-align: center;
}

td {
	width: 100px;
	height: 100px;
}

.vertical {
	border-right: 1px solid black;
	border-left: 1px solid black;
}

.horizontal {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

table {
	margin: auto;
}


/*h1 {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

td {
	width: 100px;
	height: 100px;
}

td:nth-of-type(2) {
	border-right: 1px solid;
	border-left: 1px solid;
}

tr:nth-of-type(2) td {
	border-top: 1px solid;
	border-bottom: 1px solid;
}*/