/*font-family*/

p {
	font-family: Raleway; /*or "Arial"*/
}


h1	{
	font-family: Indie Flower;
}

/*font-size*/

body {
	font-size: 10px;
}

h1 {
	font-size: 5.0em;
}

p {
	font-size: 2.0em;
}

span {
	font-size: 2.0em; /*dynamic way of specifying font size = relative to parent font size*/
}

/*font-weight*/

p {
	font-weight: normal;
}

/*line-weight*/

p {
	line-height: 1.5; 
}

/*text-align*/

h1 {
	text-align: right;
}

p {
	text-align: center;
}
/*text-decoration*/

p {
	text-decoration: underline;
}

h1 {
	text-decoration: line-through;
}
